# =========================
# FRONTEND (React)
# =========================
frontend/node_modules/
node_modules/
frontend/build/
frontend/.env

#backend/bookepedia_backend/media/
media/
# =========================
# BACKEND (Django/Python)
# =========================
backend/env/
backend/venv/
backend/__pycache__/
backend/db.sqlite3
backend/*.log
backend/.env
backend/*/migrations/*
!backend/*/migrations/__init__.py

# Python compiled files
*.pyc
__pycache__/

# Virtual environments
env/
venv/
.venv/

# =========================
# OS / EDITOR JUNK
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# GENERAL
# =========================
*.log
*.sqlite3
*.swp
*.zip